.main-content-container {
  background-image: url(newBackground.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  text-align: center;
  /*margin: auto;
      width: 50%;
      border: 3px solid green;*/
  padding: 50px;
  vertical-align: middle;
  /*background-color: #e6e6e6;*/
}

.introDisplay {
  margin-top: 170px;
  text-align: left;
  color: #96c0ce;
  /*border: 2px solid yellow;*/
  font-size: 15px;
  padding: 0.3% 0% 0.3% 0%;
  border-radius: 35px;
  float: left;
  width: 43%;
}

.question-p {
  font-size: 50px;
  border: 2px solid white;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f2f2f2, 0 0 20px #f2f2f2,
    0 0 25px #f2f2f2, 0 0 30px #f2f2f2, 0 0 35px #f2f2f2;
  padding: 3%;
  margin-bottom: 100px;
  margin-top: 50px;
  border-radius: 35px;
  background-color: whitesmoke;
  /*animation: sliding-q .5s ease-in;*/ /*REASON FOR NOT INCLUDING IT IN YET: It's annoying to look at. */
}

.ans-yes {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00e658, 0 0 20px #00e658,
    0 0 25px #00e658, 0 0 30px #00e658, 0 0 35px #00e658;
  border: 2px solid #b8dc6f;
  color: #49c87c;
  padding: 3% 8%;

  font-size: 3vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 100px;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: whitesmoke;

  /*animation: appear-ans 2.5s ease-in;*/
}

.ans-yes:hover {
  background-color: #d5fbc9;
}

.ans-yes:focus {
  background-color: #49c87c;
  color: white;
  border: 2px solid #b8dc6f;
  border-radius: 20px;
  outline: none;
}

.ans-no {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60000, 0 0 20px #e60000,
    0 0 25px #e60000, 0 0 30px #e60000, 0 0 35px #e60000;
  border: 2px solid #ffb3b3;
  color: #ff4d4d;
  padding: 3% 8%;
  font-size: 3vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  margin-bottom: 50px;
  /*background-color: white;*/
  background-color: whitesmoke;
  /*animation: appear-ans 2.5s ease-in;*/
}

.ans-no:hover {
  background-color: #fbcec9;
}
.ans-no:focus {
  background-color: #ff4d4d;
  color: white;
  border: 2px solid #ffb3b3;
  border-radius: 20px;
  outline: none;
}

.Time {
  /*border: 2px solid yellow;*/
  color: #525564;
  font-size: 100%;
  padding: 0.3% 0% 0.3% 0%;
  border-radius: 35px;
}

.accuracy {
  border: 2px solid yellow;
  font-size: 100%;
  padding: 0.3% 0% 0.3% 0%;
  border-radius: 35px;
}

#left {
  /* current time */
  float: left;
  width: 25%;
}

#right {
  /* accuracy */
  float: right;
  width: 25%;
}

.Next {
  display: none;
  margin-top: 45px;
}

.checkmark {
  content: "\2713";
}

/*ANIMATION*/
@keyframes appear-ans {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sliding-q {
  0% {
    transform: skewX(0deg) translateY(500px);
  }
  100% {
    transform: skew(0deg);
  }
}

.button {
  /*the start button*/
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #96c0ce;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #96c0ce;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin-left: 450px;
  margin-top: 150px;
  /*margin: 70px auto;*/
  padding: 20px;
  background: #74828f;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #fef6eb;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.popupAcc {
  margin-left: 850px;
  margin-top: 400px;
  /*margin: 70px auto;*/
  padding: 60px;
  background: #c25b56;
  border-radius: 5px;
  width: 10%;
  position: relative;
  transition: all 5s ease-in-out;
}

.overlayAcc {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlayAcc:target {
  visibility: visible;
  opacity: 1;
}

.question-pNew {
  font-size: 3vw;
  /*border: 2px solid white;*/
  color: #fef6eb;
  padding: 3%;
  margin-bottom: 30px;
  margin-top: 50px;
  border-radius: 35px;
  /*background-color: whitesmoke;*/
}

.ans-yesNew {
  border: 2px solid #525564;
  color: #525564;
  padding: 1% 30%;
  font-size: 2vw;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: #74828f;

  /*animation: appear-ans 2.5s ease-in;*/
}

.ans-yesNew:hover {
  background-color: #b8dc6f;
}

.ans-yesNew:focus {
  background-color: #49c87c;
  color: white;
  border: 2px solid #b8dc6f;
  border-radius: 20px;
  outline: none;
}

.ans-noNew {
  border: 2px solid #525564;
  color: #525564;
  padding: 1% 30%;
  font-size: 2vw;
  border-radius: 20px;
  margin-bottom: 50px;
  /*background-color: white;*/
  background-color: #74828f;
  /*animation: appear-ans 2.5s ease-in;*/
}

.ans-noNew:hover {
  background-color: #f8aaaa;
}
.ans-noNew:focus {
  background-color: #ff4d4d;
  color: white;
  border: 2px solid #ffb3b3;
  border-radius: 20px;
  outline: none;
}
